*.o
*.user
*.exe
DataTeamInterface/Makefile
*.Debug
*.Release
DataTeamInterface/debug/moc_simplexbox360controller.cpp
DataTeamInterface/debug/moc_joystick.cpp
DataTeamInterface/debug/moc_tcpconnection.cpp
DataTeamInterface/debug/moc_tcpconnection.cpp
DataTeamInterface/debug/moc_protocole.cpp
DataTeamInterface/debug/moc_mainwindow.cpp
DataTeamInterface/debug/moc_captor.cpp
DataTeamInterface/debug/moc_lidar.cpp
DataTeamInterface/debug/moc_gyro.cpp
DataTeamInterface/debug/moc_gps.cpp