*.o
*.user
*.exe
DataTeamInterface/Makefile
*.Debug
*.Release
DataTeamInterface/debug/moc_simplexbox360controller.cpp
DataTeamInterface/debug/moc_joystick.cpp
DataTeamInterface/debug/moc_tcpconnection.cpp
DataTeamInterface/debug/moc_mainwindow.cpp
DataTeamInterface/debug/moc_captor.cpp
DataTeamInterface/debug/moc_lidar.cpp
DataTeamInterface/debug/moc_gyro.cpp
DataTeamInterface/debug/moc_gps.cpp
DataTeamInterface/debug/moc_protocole.cpp
DataTeamInterface/release/moc_protocole.cpp
DataTeamInterface/release/moc_mainwindow.cpp
DataTeamInterface/release/moc_joystick.cpp
DataTeamInterface/release/moc_tcpconnection.cpp
DataTeamInterface/release/moc_simplexbox360controller.cpp
DataTeamInterface/debug/moc_actuator.cpp
DataTeamInterface/gps.cpp.autosave
DataTeamInterface/debug/moc_accelero.cpp
DataTeamInterface/debug/moc_robotinterface.cpp
DataTeamInterface/debug/moc_robotinterface.cpp
DataTeamInterface/debug/moc_magneto.cpp
DataTeamInterface/debug/moc_robotinterface.cpp
DataTeamInterface/debug/moc_robotinterface.cpp
DataTeamInterface/debug/moc_robotinterface.cpp
DataTeamInterface/debug/moc_odo.cpp
